 # Public Environment Variables
NEXT_PUBLIC_CURRENCY=$
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bmF0aW9uYWwtZ3JpZmZvbi00LmNsZXJrLmFjY291bnRzLmRldiQ

# Private Environment Variables
CLERK_SECRET_KEY=sk_test_AVi2jdWhlsUJD2LjEypOov4r6yKZ9mv1MO8OwhLET1
MONGODB_URI=mongodb+srv://leighandrew13:inzuma11@cluster0.h2zmw9y.mongodb.net
INNGEST_SIGNING_KEY=signkey-prod-f024b311049b02e170c84af22092a316292225a158feb081508730b666d2db91
INNGEST_EVENT_KEY=nO2i93ZNEKXhrYXUboQFfrk1x_Atgw_DF0rT46o1FbIQjHBwaphvWiFZujhHjd5SDNDft0Pd0ArdR4DEx2q2og
# Cloudinary
CLOUDINARY_CLOUD_NAME =''
CLOUDINARY_API_KEY =''
CLOUDINARY_API_SECRET =''